.tab {
  display: flex;
}

.tab-item {
  position: relative;
  width: 100px;
  height: 40px;
  background-color: var(--color-6);
  border: none;
  border-radius: 8px 8px 0 0;
  cursor: pointer;
}

/* .tab-item::after {
  position: absolute;
  bottom: 0;
  left: -20px;
  width: 20px;
  height: 20px;
  background-color: var(--gray-1);
  border-radius: 50%;
  content: '';
} */

.tab-item:hover {
  background-color: var(--color-5);
}

.tab-item:hover:before,
.tab-item:hover:after {
  position: absolute;
  bottom: 0;
  z-index: 2;
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 0 40px var(--color-5);
  content: '';
}

.tab-item:hover:before {
  left: -20px;
  clip-path: inset(50% -10px 0 50%);
}

.tab-item:hover:after {
  right: -20px;
  clip-path: inset(50% 50% 0 -10px);
}
